<h1>Inflation Calculator</h1>

<form action="">

  Start price:
  <br>
  <%= text_field_tag 'start_price', params["start_price"]%>
  <br>
  <br>

  From:
  <br>
  <%= date_field_tag 'start_date', params["start_date"] %>
  <br>
  <br>

  To:
  <br>
  <%= date_field_tag 'end_date', params["end_date"] %>
  <br>
  <br>

  Region:
  <br>
  <%= select_tag "region", options_for_select(list_of_region, params["region"]) %>
  <br>
  <br>

  <%= submit_tag "Submit" %>

</form>

<h1>Results</h1>

£<%= @new_price %>
