<h1>Inflation Calculator</h1>

<form action="">
  From:<br>
  <%= date_field_tag 'start_date', params["start_date"] %>
<!--   <input type="date" name="from_date" value="Date"> -->
  <br><br>

  To:<br>
  <%= date_field_tag 'end_date', params["end_date"] %>
<!--   <input type="date" name="to_date" value="Date"> -->
  <br><br>

  Region:
<!--   list_of_region is in welcome_helper.rb -->
  <%= select_tag "region", options_for_select(list_of_region, params["region"]) %>
  <br>
  <br>
  <%= submit_tag "Submit" %>
<!--   <input type="submit" value="Submit"> -->
  <%= @new_inflation %>
</form>
